/* html, body, #root, .room {
  height: 100%;
  margin: 0;  
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
} */
form{
  background-color: lightgray;
  /* width: 50%;
  position: relative;
  left: 30%; */
  height: 500px;
  width: 100%;
  text-align: center;
}
#result{
  background-color: aqua;
  text-align: center;
}